<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    
    <servlet>
        <servlet-name>CircuitStandingsServlet</servlet-name>
        <servlet-class>user.CircuitStandingsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ArmyRankingDataServlet</servlet-name>
        <servlet-class>user.ArmyRankingDataServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TournamentResultsIndividualServlet</servlet-name>
        <servlet-class>user.TournamentResultsIndividualServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PopulateTournamentsServlet</servlet-name>
        <servlet-class>user.PopulateTournamentsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadResultsServlet</servlet-name>
        <servlet-class>user.UploadResultsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmptyTableServlet</servlet-name>
        <servlet-class>user.EmptyTableServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayUsersServlet</servlet-name>
        <servlet-class>user.DisplayUsersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayDeletedUsersServlet</servlet-name>
        <servlet-class>user.DisplayDeletedUsersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayUserServlet</servlet-name>
        <servlet-class>user.DisplayUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUserServlet</servlet-name>
        <servlet-class>user.UpdateUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUserServlet</servlet-name>
        <servlet-class>user.DeleteUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UnDeleteUserServlet</servlet-name>
        <servlet-class>user.UnDeleteUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddUserServlet</servlet-name>
        <servlet-class>user.AddUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateSelfServlet</servlet-name>
        <servlet-class>user.UpdateSelfServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>user.LogoutServlet</servlet-class>
    </servlet>
    
       

    <servlet-mapping>
        <servlet-name>ArmyRankingDataServlet</servlet-name>
        <url-pattern>/login/armyRankingData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CircuitStandingsServlet</servlet-name>
        <url-pattern>/login/rankings</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TournamentResultsIndividualServlet</servlet-name>
        <url-pattern>/login/tournamentRankings</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PopulateTournamentsServlet</servlet-name>
        <url-pattern>/login/populateTournaments</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadResultsServlet</servlet-name>
        <url-pattern>/login/TO/uploadResults</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmptyTableServlet</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayUsersServlet</servlet-name>
        <url-pattern>/login/admin/displayUsers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayDeletedUsersServlet</servlet-name>
        <url-pattern>/login/admin/displayDeletedUsers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayUserServlet</servlet-name>
        <url-pattern>/login/admin/displayUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUserServlet</servlet-name>
        <url-pattern>/login/updateUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUserServlet</servlet-name>
        <url-pattern>/login/admin/deleteUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UnDeleteUserServlet</servlet-name>
        <url-pattern>/login/admin/unDeleteUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddUserServlet</servlet-name>
        <url-pattern>/addUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateSelfServlet</servlet-name>
        <url-pattern>/login/updateSelf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    
    <!-- Define four security roles -->
    <security-role>
        <description>Administrators</description>
        <role-name>admin</role-name>
    </security-role>
    <security-role>
        <description>tournament organizer</description>
        <role-name>TO</role-name>
    </security-role>
    <security-role>
        <description>Player</description>
        <role-name>user</role-name>
    </security-role>
    <!-- Restrict access to all files in the /admin folder -->
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Protected Area</web-resource-name>
            <url-pattern>/admin/*</url-pattern>
        </web-resource-collection>
        <!-- Authorize the admin role -->
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>
    <!-- Restrict access to all files in the /TO folder -->
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Protected Area</web-resource-name>
            <url-pattern>/TO/*</url-pattern>
        </web-resource-collection>
        <!-- Authorize the admin and TO role -->
        <auth-constraint>
            <role-name>admin</role-name>
            <role-name>TO</role-name>
        </auth-constraint>
    </security-constraint>
    
    <!-- Restrict access to the website! -->
    
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Protected Area</web-resource-name>
            <url-pattern>/login/*</url-pattern>
        </web-resource-collection>
        <!-- Authorize the admin, TO and user roles -->
        <auth-constraint>
            <role-name>admin</role-name>
            <role-name>TO</role-name>
            <role-name>user</role-name>
        </auth-constraint>
    </security-constraint>


    <!-- Use form-based authentication -->
    <login-config>
        <auth-method>FORM</auth-method>
        <form-login-config>
            <form-login-page>/login.jsp</form-login-page>
            <form-error-page>/login_error.jsp</form-error-page>
        </form-login-config>
    </login-config>
        
             
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    --&gt;    
             
</web-app>
